#{extends 'main.html' /}
#{set title:'Divisions' /}

<nav>
  <a class="active item"  href="/divisions"> Divisions </a>
  <a class="item"         href="/clubs">     Clubs     </a>
  <a class="item"         href="/players">   Players   </a>            
  <a class="item"         href="/sponsors">  Sponsors  </a>
</nav>

<section>        
  <h1>Divisions</h1>
  <table>
    <thead>
      <tr>
        <th>Division</th>
        <th>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
	    #{list items:divisions, as:'division'}
	      <tr>
	        <td>${division.name}</td>
	        <td>
	          <table class="table">
	            <tr>
	            #{list items:division.members, as:'club'}
	              <td>${club.name}</td> </tr>
	            #{/list}
	            </tr>
	          </table>
	        </td>
	        <td></td>
	      </tr>
	    #{/list}
    </tbody>
  </table>
</section>
    
